@using Utils.Extensions;
@using Microsoft.AspNet.Identity
@using Utils.Constants;

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Home</a>
            </li>

            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="ibox">
        <div class="ibox-title" style="display: flex;justify-content: space-between;">
            <h4>@ViewBag.Title</h4>
        </div>
        <div class="ibox-content">
            <div class="row p-h-xs">
                <div class="col-sm-12 p-w-md text-center">
                    <h5>URL Base da API</h5>

                    <input type="text" class="form-control text-lowercase" id="endpoint-movies" />



                </div>
                <div class="col-sm-12 p-w-md m-t-lg text-center">
                    <button type="button" class="btn btn-primary pull-right" onclick="ExecApi()">Testar API</button>
                </div>
            </div>
        </div>


        <div class="ibox m-t-lg d-none" id="result-api">

            <div class="ibox-title" style="display: flex;justify-content: space-between;">
                <h4>Resultados da API</h4>
            </div>
            <div class="ibox-content">
                <div class="row vertical-align m-b-md">

                    <div class="col-xs-6 col-lg-2 p-w-xs">
                        <div class="width100 bloco widget black-bg p-lg text-center">
                            <div class="m-b-xs">
                                <img class="img-api" src="~/Images/film.png" />
                                <h1 class="m-xs" id="films">0</h1>

                                <small>Filmes</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-2 p-w-xs">
                        <div class="width100 bloco widget lazur-bg p-lg text-center">
                            <div class="m-b-xs">
                                <img class="img-api" src="~/Images/planet.png" />
                                <h1 class="m-xs" id="planets">0</h1>

                                <small>Planetas</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-2 p-w-xs">
                        <div class="width100 bloco widget blue-bg p-lg text-center">
                            <div class="m-b-xs">
                                <img class="img-api" src="~/Images/character.png" />
                                <h1 class="m-xs" id="characters">0</h1>

                                <small>Personagens</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-2 p-w-xs">
                        <div class="width100 bloco widget navy-bg p-lg text-center">
                            <div class="m-b-xs">
                                <img class="img-api" src="~/Images/specie.png" />
                                <h1 class="m-xs" id="species">0</h1>

                                <small>Espécies</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-2 p-w-xs">
                        <div class="width100 bloco widget yellow-bg p-lg text-center">
                            <div class="m-b-xs">
                                <img class="img-api" src="~/Images/startship.png" />
                                <h1 class="m-xs" id="startships">0</h1>

                                <small>Naves</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-2 p-w-xs">
                        <div class="width100 bloco widget red-bg p-lg text-center">
                            <div class="m-b-xs">
                                <img class="img-api" src="~/Images/vehicle.png" />
                                <h1 class="m-xs" id="vehicles">0</h1>

                                <small>Veículos</small>
                            </div>
                        </div>
                    </div>

                </div>

                <table id="table-filmes" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%;margin-top:20px">
                    <thead>
                        <tr>
                            <th>Sequencial</th>
                            <th>Título</th>
                            <th>Trilogia</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="modal inmodal" id="modal-filme" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-body">
                    <div class="moldura-modal p-h-xs" id="form-participante">
                        <div class="row p-h-xs">
                            <input type="hidden" id="participante-id" />
                            <div class="col-sm-12 p-w-md m-t-md text-center">
                                <h5>Nome</h5>

                                <input type="text" class="form-control required" id="filme-nome" data-field="Nome" />
                            </div>

                            <div class="col-sm-12 p-w-md m-t-md text-center">
                                <h5>Sequencial</h5>

                                <input type="number" class="form-control required" id="filme-sequencial" data-field="Sequencial" />
                            </div>
                            <div class="col-sm-12 p-w-md m-t-md text-center">
                                <h5>Trilogia</h5>

                                <div class="radio i-checks-green inline"><label> <input type="radio" id="filme-tipo" checked="" value="Classic" name="filme-tipo"> <i></i> Clássica </label></div>
                                <div class="radio i-checks-green inline"><label> <input type="radio" id="filme-tipo" checked="" value="Sequel" name="filme-tipo"> <i></i> Sequela </label></div>
                                <div class="radio i-checks-green inline"><label> <input type="radio" id="filme-tipo" checked="" value="Prequel" name="filme-tipo"> <i></i> Prequela </label></div>
                                <div class="radio i-checks-green inline"><label> <input type="radio" id="filme-tipo" checked="" value="Spin-Off" name="filme-tipo"> <i></i> Spin-Off </label></div>
                            </div>                            

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-white pull-right" onclick="SaveFilme()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Styles {
        <style>

            .img-api {
                width: 70%;
            }
        </style>
    }

    @section Scripts {

        <script src="~/Scripts/app/Reuniao/api.js"></script>

    }
